@media screen and (min-width: 750px) {
  .deep-slider-section .banner--medium:not(.banner--adapt) {
    min-height: 100rem;
  }
}

.deep-slider-section .media > img {
  object-position: center top;
}

.deep-slider-section .slider-buttons {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border: 0;
  justify-content: space-between;
  z-index: 2;
  padding: 0 50px;
}

.deep-slider-section .slider-button,
.deep-slider-section .slider-button:not([disabled]):hover {
  color: white;
}

.deep-slider-section .slider-button {
  height: 395px;
  width: 90px;
  overflow: hidden;
}

.deep-slider-section .slider-button .icon {
  height: 100%;
}

.deep-slider-section .slider-counter {
  display: none;
}
